#===================================#
# C Project Gitignore
#===================================#

# Ignore built files
*.o
*.d
*.gch

# Ignore compiled files
*.exe
*.dll
*.out

# Ignore vim stuff
*.swp

# Ignore LaTeX stuff
*.aux
*.log
*.synctex.gz
*.pdf

# Ignore compressed files
*.tar
*.tar.gz
*.zip
