# Sources
*.c text
*.h text

# Compiled stuff
*.o binary
*.gch binary

# Binaries
*.a binary
*.dll binary
*.exe binary
*.out binary

# Linguist overrides
*.c linguist-language=C
*.h linguist-language=C

# Linguist documentation
doc/* linguist-documentation
